<html>
    <head>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- local links, just in case -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <style>
         form {
                margin: 0 auto;
                width: 500px;
                padding: 1em;
                border: 1px solid #CCC;
                border-radius: 1em;
            }
         label {
             display: inline-block;
             text-align: right;
         }
         input:focus {
             border-color: #000;
         }
        </style>
    </head>
    <body>

      <h1>Ghost Stories Math</h1>
      <nav class="navbar navbar-default">
          <ul class="nav nav-tabs">
              <li role="presentation">
                  <button type="submit" form="form1" value="Submit" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Probability
                  </button>
              </li>
              <li role="presentation">
                  <button type="submit" form="form1" value="Submit" class="dropdown-toggle" data=-toggle="dropdown" aria-haspopup="true" aria-expanded="false" formaction="{{ url_for('scenario') }}"> Sampling
                  </button>
              </li>
          </ul>
          {% if result != None %}
          <p class="btn" >{{ result }}</p>
          {% endif %}
    </body>

      </nav>
      <form action="/probability" method="GET" id="form1">
          <div>
              <label>Dice:</label>
              {% for idx in range(1, 5) %}
              <input type="radio" name="dice" value="{{ idx }}" {% if dice == idx %}checked{% endif %}> {{ idx }}
              {% endfor %}
              <br />
          </div>
          <div>
              <label>Ghost resistance:</label>
              {% for idx in range(1, 5) %}
              <input type="radio" name="resistance" value="{{ idx }}" {% if resistance == idx %}checked{% endif %}> {{ idx }}
              {% endfor %}
              <br />
          </div>
          <div>
              <label>Second Wind:</label>
              <input type="checkbox" name="Second Wind" value="sw" {% if second_wind %}checked{% endif %}>
              <br />
          </div>
          <div>
              <label>Nameless:</label>
              <input type="checkbox" name="Nameless" value="nm" {% if nameless %}checked{% endif %}>
              <br />
          </div>
      </form>
</html>
